@charset "UTF-8";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.formtable {
    width: 430px;
    border: 1px solid orange;
    padding: 20px;
}

.label {
    margin-top: 20px;
    text-align: right;
}

input[type="text"] {
    width: 300px;
    border-width: 1px;
    padding: 10px;
    border-color: orange;
    outline: none;
}

input[type="submit"] {
    display: block;
    width: 50%;
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 50px;
}

input[type="submit"]:hover {
    background-color: #e67e22;
}

.error {
    font-size: small;
    color: red;
    margin-left: 10px;
}